.nav .button {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(58, 57, 57);
  color: rgb(100, 98, 98);
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
}

i {
  margin: 10px;
}

.menu-button {
  cursor: pointer;
}

.white p, .white i{
  color: white;
}