
* { 
  box-sizing: border-box; 
}

html {
  width: 100%;
  min-height: 100%;
  display: flex;
  opacity: 0.9;
}

body {
  font-family: Georgia;
  margin: 0;
  background-color: #2C2D2F;
  color: white;
  width: 100%;
  min-height: 100%;
  display: flex;
}

#root {
  display: flex;
}

.header {
  width: 100%;

}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 20px;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: rgb(100, 98, 98);
}

a:visited {
  text-decoration: none;
  color: rgb(100, 98, 98);

}

h1 {
  color: #00A3E1;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 36px;
  margin: 20px 0px;
}

h3 {
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}